*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.welc{
    position: relative;
    text-align: center;
    top: -20px;
    
}
.tab{
    position: relative;
    left: 550px;
    top: 70px;
}
.clickBut{
    width: 100px;
    height: 40px;
    font-weight: 700;
    font-size: 16px;
    background-color: rgb(40, 230, 40);
    cursor: pointer;
}